* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
}

/* Reset CSS */
a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #2b292d;
}

.fill-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 48px;
  border: none;
  border-radius: 2px;
  font-size: 15px;
  line-height: 1.6em;
  font-weight: 700;
  letter-spacing: -0.05em;
  color: #fff;
  background-color: #3040c4;
  transition: opacity 300ms ease-in-out;
}

.fill-button.inverted {
  color: #3040c4;
  background-color: #fff;
}

.fill-button:hover {
  opacity: 0.5;
}

.section {
  padding: 80px 0;
}

.section-category {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
}

.section-title {
  margin-bottom: 24px;
  font-size: 34px;
  line-height: 1.058823529411765;
  letter-spacing: -0.03em;
  color: #2b292d;
}

/* Landing */
.landing {
  background-color: #fdded8;
  text-align: center;
}

.landing-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.landing-title {
  margin-bottom: 24px;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.05em;
  color: #2b292d;
}

.landing-desc {
  margin-bottom: 24px;
}

.landing .button-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .button-group .fill-button:first-child {
  margin-right: 8px;
}

/* Service */
.service {
  padding: 80px 0;
  background-color: #f4f5f7;
}

.service-title {
  margin-bottom: 16px;
  font-size: 22px;
  line-height: 1.363636363636364;
  letter-spacing: -0.04em;
  color: #2b292d;
}

.service .col-12:first-child {
  margin-bottom: 40px;
}

/* Program */
.program .row:first-child {
  margin-bottom: 32px;
}

.program .col-md-4 {
  margin-bottom: 20px;
}

.program .col-md-4:last-child {
  margin-bottom: 0;
}

.program .section-category {
  color: #009b4d;
}

.program-card {
  display: block;
  padding: 24px 0 32px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  background-color: #fff;
  transition: background-color 300ms ease-in-out, box-shadow 300ms ease-in-out;
}

.program-card:hover {
  background-color: #3141c5;
  box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15),
    0px 11px 55px rgba(0, 0, 0, 0.07);
}

.program-card:hover strong {
  color: #ffffff;
}

.program-card img {
  display: block;
  width: auto;
  height: 195px;
  margin: 0 auto 16px;
}

.program-card strong {
  font-size: 18px;
  line-height: 1.333333333333333;
  letter-spacing: -0.02em;
  transition: color 500ms ease-in-out;
}

/* Curriculum */
.curriculum .row:first-child {
  margin-bottom: 48px;
}

.curriculum .row:last-child .col-12:first-child {
  margin-bottom: 40px;
}

.curriculum .section-category {
  color: #0189d1;
}

.curriculum .section-desc {
  margin-bottom: 32px;
}

.curriculum-image {
  display: none;
}

.curriculum-detail-desc {
  font-size: 15px;
  line-height: 1.466666666666667;
  letter-spacing: -0.01em;
  color: #2b292d;
}

/* Subscription */
.subscription {
  padding: 40px 0;
  text-align: center;
  background-color: #f2f8fa;
}

.subscription-image {
  padding: 25px 0;
  margin-bottom: 16px;
}

.subscription-image img {
  display: block;
  width: auto;
  height: 190px;
  margin: 0 auto;
}

.subscription-title {
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.05em;
  margin-bottom: 16px;
}

.subscription-desc {
  margin-bottom: 24px;
}

.subscription .input-group {
  margin-bottom: 8px;
}

.subscription .input-group input {
  width: 100%;
  height: 48px;
  padding: 12px 16px;
  border: none;
  border-radius: 2px;
  margin-bottom: 8px;
  background-color: #fff;
}

.subscription .input-group .fill-button {
  width: 100%;
}

.subscription-form .form-notice {
  font-size: 13px;
  line-height: 1.538461538461538;
  letter-spacing: 0;
  color: #7b7b7e;
}

.subscription-form .form-notice a {
  color: #3040c4;
  text-decoration: underline;
}

/* Footer */
.footer {
  padding: 24px 0;
}

.footer-link {
  margin-bottom: 8px;
}

.footer-link:last-child {
  margin-bottom: 0;
}

.footer-link a {
  font-size: 14px;
  line-height: 1.714285714285714;
  color: #807f81;
}

/* >= 768px (Desktop) */
@media screen and (min-width: 768px) {
  /* Reset CSS */
  p {
    font-size: 22px;
    line-height: 1.454545454545455;
  }

  .fill-button {
    width: 160px;
    height: 56px;
    font-size: 18px;
    line-height: 1.555555555555556;
  }

  .section {
    padding-bottom: 96px;
  }

  .section-category {
    margin-bottom: 16px;
    font-size: 22px;
    line-height: 1.090909090909091;
  }

  .section-title {
    margin-bottom: 32px;
    font-size: 56px;
    line-height: 1;
  }

  /* Landing */
  .landing-content {
    height: auto;
    padding: 120px 0;
  }

  .landing-title {
    font-size: 70px;
    line-height: 1.028571428571429;
    margin-bottom: 32px;
  }

  .landing-desc {
    margin-bottom: 32px;
  }

  .landing .button-group .fill-button:first-child {
    margin-right: 16px;
  }

  /* Service */
  .service-title {
    font-size: 26px;
    line-height: 1.307692307692308;
  }

  .service .col-12:first-child {
    margin-bottom: 0;
  }

  /* Program */
  .program {
    text-align: center;
  }

  .program .row:first-child {
    margin-bottom: 72px;
  }

  .program .col-md-4 {
    margin-bottom: 0px;
  }

  .program-card img {
    margin-bottom: 24px;
  }

  .program-card strong {
    font-size: 20px;
    line-height: 1.2;
  }

  /* Curriculum */
  .curriculum .row:first-child {
    margin-bottom: 24px;
  }

  .curriculum .row:last-child .col-12:first-child {
    margin-bottom: 0;
  }

  .curriculum .section-desc {
    margin-bottom: 72px;
  }

  .curriculum-image {
    display: block;
  }

  .curriculum-image img {
    display: block;
    max-width: 425px;
    width: 100%;
    height: auto;
  }

  .curriculum-detail-desc {
    font-size: 18px;
    line-height: 1.444444444444444;
  }

  /* Subscription */
  .subscription {
    padding: 80px 0;
    text-align: left;
  }

  .subscription-image {
    padding: 8px 0;
  }

  .subscription-image img {
    height: 285px;
    margin-left: 0;
  }

  .subscription-title {
    font-size: 40px;
  }

  .input-group {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
  }

  .subscription-form .input-group input {
    height: 56px;
    padding: 16px;
    margin-right: 8px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.333333333333333;
  }

  .subscription-form .input-group .fill-button {
    flex-shrink: 0;
    width: 160px;
  }

  .subscription-form .form-notice {
    font-size: 14px;
    line-height: 1.428571428571429;
  }

  /* Footer */
  .footer {
    padding: 16px 0;
  }

  .footer-links {
    display: flex;
  }

  .footer-link {
    margin-right: 16px;
    margin-bottom: 0;
  }

  .footer-link:last-child {
    margin-right: 0;
  }
}

/* Custom Grid System - Fix container width */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
