/* CSS Reset */
body,
h1,
h2,
p {
  margin: 0;
}

/* Common */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

h1 {
  font-size: 100%;
}

body {
  background-color: #ddd;
}

.cover {
  height: 50vh;
  background-image: url(./images/background.png);
  background-size: cover;
  background-position: center center;
  font-size: 10vw;
  color: white;
  position: relative;
}

.cover h1 {
  font-family: "Alata", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: orangered;
  padding: 0.15em 0.4em 0.23em;
  border-radius: 5px;
  line-height: 1;
}

.wrapper {
  width: 980px;
  margin: 50px auto;
}

.section {
  position: relative;
  background-color: #fff;
  margin: 50px 0;
  padding: 20px;
  color: #999;
  text-align: right;
}

.section-contents {
  display: inline-block;
}

.section h2 {
  display: inline-block;
  border-bottom: 10px solid;
  margin-bottom: 30px;
  font-family: "Alata", sans-serif;
  font-size: 40px;
}

.section.strawberry h2 {
  color: orangered;
  border-color: forestgreen;
}
.section.orange h2 {
  color: orange;
  border-color: antiquewhite;
}
.section.kiwi h2 {
  color: forestgreen;
  border-color: #c78c8c;
}

.section p {
  float: left;
  width: 250px;
  margin-right: 20px;
  line-height: 1.2;
}

.section p:last-child {
  margin-right: 0;
}

.section-cover {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 -160px;
}

.section:nth-child(even) {
  text-align: left;
}

.section:nth-child(even) .section-cover {
  left: auto;
  right: 0;
}
