* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.02em;
  background-color: black;
}

a {
  font-size: 18px;
  line-height: 20px;
  color: #8492a6;
  text-decoration: none;
}

/* ▼ WHERE YOUR CODE BEGINS */

ul {
  list-style-type: none;
  padding-left: 0;
}

/* .tab-menu {
  overflow: hidden;
} */

.tab-menu {
  max-width: 540px;
  border-bottom: 1px solid #e5eaef;
  background-color: #fff;
}

.tab-menu::after {
  content: "";
  display: block;
  clear: left;
}

.tab-menu-item {
  float: left;
  margin-right: 16px;
}

.tab-menu-item:last-child {
  margin-right: 0;
}

.tab-menu-item a {
  display: block;
  padding: 16px 20px;
}

.tab-menu-item.selected {
  border-bottom: 2px solid #2860e1;
}

.tab-menu-item.selected a {
  color: #2860e1;
  font-weight: 500;
}
